{% extends 'base.html' %}
{% block content %}
<div class="single-product-area section-padding-100 clearfix" xmlns="http://www.w3.org/1999/html">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mt-50">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Furniture</a></li>
                        <li class="breadcrumb-item"><a href="#">Chairs</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{item.title}}</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="single_product_thumb">
                    <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li class="active" data-target="#product_details_slider" data-slide-to="0" style="{{item.photo_1.url}}">
                            </li>
                            <li data-target="#product_details_slider" data-slide-to="1" style="{{item.photo_1.url}}">
                            </li>
                            <li data-target="#product_details_slider" data-slide-to="2" style="{{item.photo_1.url}}">
                            </li>
                            <li data-target="#product_details_slider" data-slide-to="3" style="{{item.photo_1.url}}">
                            </li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a class="gallery_img" href="{{item.photo_1.url}}">
                                    <img class="d-block w-100" src="{{item.photo_1.url}}" alt="First slide">
                                </a>
                            </div>

                            <div class="carousel-item">
                                <a class="gallery_img" href="{{item.photo_2.url}}">
                                    <img class="d-block w-100" src="{{item.photo_2.url}}" alt="Second slide">
                                </a>
                            </div>

                            <div class="carousel-item">
                                <a class="gallery_img" href="{{item.photo_3.url}}">
                                    <img class="d-block w-100" src="{{item.photo_3.url}}" alt="Third slide">
                                </a>
                            </div>

                            <div class="carousel-item">
                                <a class="gallery_img" href="{{item.photo_4.url}}">
                                    <img class="d-block w-100" src="{{item.photo_4.url}}" alt="Fourth slide">
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <div class="single_product_desc">
                    <!-- Product Meta Data -->
                    <div class="product-meta-data">

                        <div class="line"></div>
                        <p class="product-price">${{item.price}}</p>
                        <a href="{% url 'details' item.id %}">
                            <h6>{{item.title}}</h6>
                        </a>
                        <!-- Ratings & Review -->
                        <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                            <div class="ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>

                        </div>
                        <!-- Avaiable -->
                        {% if item.is_stock %}
                        <p class="avaibility">
                            <i class="fa fa-circle"></i> In Stock
                        </p>
                        {% else %}
                        <p class="avaibility">
                            <i class="fa fa-circle"></i> Not In Stock
                        </p>
                        {% endif %}

                    </div>

                    <div class="short_overview my-5">
                        <p>{{item.description}}</p>
                    </div>

                    <!-- Add to Cart Form -->
                    <form class="cart clearfix" method="post">
                        {% csrf_token %}
                        <div class="cart-btn d-flex mb-50">
                            <p>Qty</p>
                            <div class="quantity">
                                <span class="qty-minus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                                <input type="number" class="qty-text" id="qty" step="1" min="1" max="300" name="quantity" value="1">
                                <span class="qty-plus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
                            </div>
                        </div>
                              <button id="pr{{item.id}}" class="btn btn-primary cart" value="5">Add to cart</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="card my-4">
        <h5 class="card-header">Leave a comment</h5>
        <div class="card-body">
            <form method="POST" action="{% url 'details' item.id %}">
                {% csrf_token %}
            <input type="hidden" name="user_id" value="{{ request.user.id }}"/>

            <div class="form-group">
                <textarea class="form-control" rows="3" name="massage"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    {% for com in comments %}
    <div class="container">
        {{com.user_id.username}}
        <code>{{ com.date_comment }}</code>
        <hr>
        <h5>{{ com.massage | linebreaks}}</h5>
    </div>
    {% endfor %}
    </div>


{% endblock %}
{% block js %}
<script>

    if(localStorage.getItem('cart') == null){
    var cart={};
    }
    else{
    cart = JSON.parse(localStorage.getItem('cart'));
    document.getElementById('cart').innerHTML = Object.keys(cart).length;
    }
    $('.cart').click(function(){


    var idstr = this.id.toString();
    console.log(idstr);
    if (cart[idstr] != undefined){
    qty = cart[idstr][0] + 1;
    }
    else
    {
    qty =  1;
    name = document.getElementById('' + idstr).innerHTML;
    cart[idstr] = [qty, name];
    }
    console.log(cart);
    localStorage.setItem('cart', JSON.stringify(cart));
    document.getElementById('cart').innerHTML = Object.keys(cart).length;
    });

</script>
{% endblock %}